<div class="row">
  <a name="top"></a>
  <div class="large-12 columns">
    <div class="image">
      <h1 class="desc"><span>make safety a priority at the next game</span></h1>
    </div>
  </div>
  <hr>
</div>


<div class="row">
  <a name="stats"></a>
  <div class="large-5 columns">
    <h4 class="large button disabled">look out.</h4>
    <p>within one mile of CenturyLink Field, common incidences reported include:</p>
    <ul class="stack button-group white">
      <li class="button disabled">traffic-related calls</li>
      <li class="button disabled">suspicious circumstances</li>
      <li class="button disabled">liquor violations</li>
      <li class="button disabled">disturbances</li>
      <li class="button disabled">trespass</li>
      <li class="button disabled">narcotics complaints</li>
    </ul>
  </div>
  <div class="large-7 columns">
    <div id="piechart"></div>
  </div>
</div>

<div class="row">
  <hr>
  <div class="large-12 columns">
    <h3 class="large button right disabled">safety incidences: a retrospective</h3>
    <h5 class="subheader">has the number of incidences changed over years?  check it out.</h5>
    <br>
    <div id="linechart"></div>
    <br>
  </div>
</div>

<div class="row">
  <div class="large-4 columns"></div>
  <div class="large-8 columns">
    <span class="total_count"></span>    
  </div>
  <!-- <div class="small-6 large-2 columns"></div> -->
</div>

<div class="row">
  <hr>
  <div class="large-12 columns">
    <a name="map"></a>
    <h3 class="large button disabled">map it.</h3>
    <h5 class="subheader">use the map below to view <font color="red">hot spots</font> for safety issues.  it displays under 10,000 incidents within one-mile of CenturyLink Field, of all reported since 2009.  select "add incidents information" to drop pins on the map with information on each.</h5> <!-- total might need to be updated -->
    <div id="map-canvas"></div>
     <div id="panel">
      <ul class="stack-for-small round secondary button-group">
        <li><a onclick="toggleHeatmap()" class="tiny button">Toggle Heatmap</a></li>
        <li><a onclick="changeGradient()" class="tiny button">Change Heatmap gradient</a></li>
        <li><a onclick="changeRadius()" class="tiny button">Change Heatmap radius</a></li>
        <li><a onclick="changeOpacity()" class="tiny button">Change Heatmap opacity</a></li>
        <li><a onclick="dropPointsonMap()" class="tiny button">Add incidents information</a></li>
      </ul>
    </div>
  </div>
</div>


<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright <%= link_to("Farheen Malik", "http://www.farheenmalik.com") %>.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#top">top of page</a></li>
          <li><a href="#stats">what to look out for</a></li>
          <li><a href="#map">where to pay attention</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
