// Place all the styles related to the Crimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
 height: 700px;
 width: 100%;
}

/*fix zoom bar distortion problem*/
#map-canvas *, #map-canvas *:before, #map-canvas *:after {
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;  
}
#map-canvas img {
    max-width: none;
}
#map-canvas label {
    width: auto;
    display: inline;
}

.image {
  position:relative;
  float:left;
  clear:none;
  overflow:hidden;
}
.image img {
  position:relative;
  z-index:1;
}
.image .desc {
  background: url(https://lh4.googleusercontent.com/-hV-uO_OgL-U/VIW_mpuwwPI/AAAAAAAAYcA/B1tBlN-iZEI/w834-h556-no/seattle-seahawks-3.jpg) repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display:block;
  background-color:#fff; 
  overflow:hidden;
  display:inline-block; 
  padding:10px; 
  font-weight:bold;
  font-family:arial;
  font-size:125px;
}


#panel {
  position: absolute;
  top: 740px;
  left:11%;
  z-index: 5;
  padding: 5px;
}

a {
  font-family: Roboto;
}
